

.auth-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}

.auth-container > h2 {
    font-size: 18px;
    padding: 1rem;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.auth-form > input {
    font-size: 14px;
}

.show-pass {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 1rem;
}

.buttons > button {
    padding: 0.2rem;
}